# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ijdbfhwkwxpcxfmiwgad.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqZGJmaHdrd3hwY3hmbWl3Z2FkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0NzgyMDEsImV4cCI6MjA5MTA1NDIwMX0.FE4QWsjFsayzbfifMMUuN7AQon2xgP3ReUQlmA3sla0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqZGJmaHdrd3hwY3hmbWl3Z2FkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTQ3ODIwMSwiZXhwIjoyMDkxMDU0MjAxfQ.OztFB2s_pe8trN6nt9fgi3elDCBCFq9xh1ZG4NvYO7s

# Gmail
GMAIL_USER=senroll91.y@gmail.com
GMAIL_APP_PASSWORD=anbapopcurdsnhtz

# Admin
ADMIN_EMAIL=contact@renov-r.fr
NEXT_PUBLIC_SITE_URL=http://localhost:3000
